{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}

{% block header %}
     <h2><a href = "{% url 'learning_logs:topic' topic.id %}">{{ topic.text}}</a></h2>
{% endblock header %}

{% block content %}
    <h3>Add an entry:</h3>
    <form action = "{% url 'learning_logs:new_entry' topic.id %}" method = "POST" class = "form">
        {% csrf_token %}
        {% bootstrap_form entry_form %}
        {% buttons %}
            <button name = 'submit' class = "btn btn-primary">submit</button>
        {% endbuttons %}
    </form>
{% endblock content %}